@charset "UTF-8";

body.editor {
    color: black;
    background: white;
    margin: 0;
}

#editor {
    display: none;
    color: black;
    margin: 0px 15px;
}

.editor #navi {
    margin: 0px 15px;
    width: auto;
}
.editor #navi a {
    color: black;
    text-decoration: none;
}

#editor h1 {
    margin-top: 0px;
    border-bottom: solid 2px black;
    font-family: sans-serif;
    font-size: 24px;
}
#editor h1 img {
    height: 36px;
    vertical-align: bottom;
}
#editor .version {
    margin-top: -3em;
    font-size: 12px;
    font-family: serif;
    text-align: right;
}

.paipu_file {
    min-width: 760px;
    margin-bottom: 15px;
}
.paipu_file .error {
    display: none;
    margin: 2px 0px;
    border-radius: 5px;
    border: solid 1px #f99;
    color: red;
    background: #fdd;
    padding: 4px 1em;
}
.paipu_file .list > div {
    border: solid 1px #ccc;
    margin: 2px 0px;
    min-height: 24px;
    border-radius: 4px;
    padding: 8px;
}
.paipu_file .list > div > div {
    width: 500px;
    float: left;
}
.paipu_file .list .title {
    font-size: 16px;
}
.paipu_file .list .player {
    font-size: 14px;
}
.paipu_file .list .button {
    width: 240px;
    float: right;
    text-align: right;
}
.paipu_file .list .button > a {
    display: inline-block;
    margin: 2px;
    padding: 2px 10px;
    font-size: 14px;
    background: #999;
    border-radius: 5px;
    white-space: nowrap;    
    cursor: pointer;
    color: white;
}
.paipu_file .list .button a:hover {
    background: #ccc;
}
.paipu_file .list .button a.delete:hover {
    background: red;
}
.paipu_file .list > div:after {
    display: block;
    content: '';
    clear: both;
}
.paipu_file .upload,
.paipu_file a {
    display: inline-block;
    margin: 2px;
    padding: 2px 10px;
    font-size: 14px;
    background: #999;
    border-radius: 5px;
    white-space: nowrap;    
    cursor: pointer;
    color: white;
    text-decoration: none;
}
.paipu_file .upload:hover,
.paipu_file a:hover {
    background: #ccc;
}
.paipu_file .upload input {
    display: none;
}
.paipu_file > .next       { float: left; background: blue; }
.paipu_file > .upload     { float: left;  }
.paipu_file > .download   { float: right; }
.paipu_file .list:before,
.paipu_file:after {
    display: block;
    content: '';
    clear: both;
}
