@charset "UTF-8";

@media screen and (max-height: 598px) {

.game #navi { display: none; }
#title { margin-top: 100px; }
body   { margin: 0;         }
#game  {
    height: 450px;
    position: absolute;
    top: 0; bottom: 0; left: 0; right: 0;
    margin: auto;
}

#game > .kaiju {
    margin-top: 60px;
}

.chang {
    width: 280px;
    height: 100px;
    transform: translate(260px, 150px);
}
.chang .xiaoxi {
    width: 140px;
}
.chang .title {
    width: 80px;
    float: left;
    font-size: 26px;
}
.chang .jicun {
    width: 60px;
    float: left;
}
.chang .shan {
    width: 120px;
}
.chang .pai {
    max-height: 32px;
}
.chang .choma {
    width: 30px;
    height: 6px;
}
.chang .defen {
    clear: both;
    font-size: 14px;
}
.chang .defen span {
    display: block;
    width:  80px;
    height: 24px;
    position: absolute;
    transform-origin: 0% 0%;
}
.chang .defen .main {
    text-align: center;
    transform: translate(100px, 12px);
}
.chang .defen .xiajia {
    text-align: right;
    transform: translate(180px, 0px);
}
.chang .defen .duimian {
    text-align: center;
    transform: translate(100px, -12px);
}
.chang .defen .shangjia {
    text-align: left;
    transform: translate(20px, 0px);
}

#game > .player {
    width: 120px;
    height: 24px;
    border-radius: 10px 0px;
    padding: 2px 16px;
    font-size: 18px;
}
#game > .player.main {
    transform: translate(120px, 340px);
}
#game > .player.xiajia {
    transform: translate(664px, 360px) rotate(270deg);
}
#game > .player.duimian {
    transform: translate(680px, 70px) rotate(180deg);
}
#game > .player.shangjia {
    transform: translate(136px, 40px) rotate(90deg);
}

.shoupai.main {
    width: 780px;
    height: 88px;
    transform: translate(10px, 360px);
}
.shoupai.xiajia {
    width:  326px;
    height: 120px;
    transform: translate(680px, 360px) rotate(270deg);
}
.shoupai.duimian {
    width: 420px;
    height: 52px;
    transform: translate(560px, 56px) rotate(180deg);
}
.shoupai.shangjia {
    width:  326px;
    height: 120px;
    transform: translate(120px, 40px) rotate(90deg);
}
.shoupai.main .pai {
    max-height: 64px;
}
.shoupai.main .fulou {
    margin-top: 38px;
}
.shoupai.main .fulou .pai {
    max-height: 48px;
}
.shoupai.main .fulou .rotate {
    width: 48px;
    transform: rotate(270deg) translate(-48px, 0px);
}
.shoupai.xiajia .pai,
.shoupai.duimian .pai,
.shoupai.shangjia .pai,
.fulou .pai {
    max-height: 32px;
}
.shoupai.xiajia .fulou,
.shoupai.shangjia .fulou {
    clear: both;
}
.shoupai.xiajia .fulou .rotate,
.shoupai.duimian .fulou .rotate,
.shoupai.shangjia .fulou .rotate {
    width: 32px;
    transform: rotate(270deg) translate(-32px, 0px);
}

.he {
    width:  200px;
    height: 120px;
}
.he.main {
    transform: translate(330px, 250px);
}
.he.xiajia {
    transform: translate(540px, 270px) rotate(270deg);
}
.he.duimian {
    transform: translate(470px, 150px) rotate(180deg);
}
.he.shangjia {
    transform: translate(260px, 130px) rotate(90deg);
}
.he .pai {
    max-height: 32px;
}
.he span.lizhi {
    width: 32px;
}
.he div.lizhi {
    width: 140px;
    height: 12px;
}
.he div.lizhi .choma {
    max-width: 100px;
}

.say.main {
    text-align: center;
    transform: translate(300px, 260px);
}
.say.xiajia {
    text-align: left;
    transform: translate(550px, 150px);
}
.say.duimian {
    text-align: center;
    transform: translate(300px, 50px);
}
.say.shangjia {
    text-align: right;
    transform: translate(50px, 150px);
}

.UI {
    transform: translate(10px, 340px);
}

#game > .jiesuan {
    transform: translate(0px, 40px);
}
.jiesuan {
    padding: 16px;
    font-size: 18px;
    line-height: 1em;
}
.jiesuan .shan {
    width: 380px;
}
.jiesuan .shan .pai {
    max-height: 32px;
}
.jiesuan .shoupai .pai {
    max-height: 44px;
}
.jiesuan .shoupai .bingpai {
    margin-top: 18px;
}
.jiesuan .shoupai .fulou {
    margin-top: 18px;
}
.jiesuan .shoupai .rotate {
    width: 44px;
    transform: rotate(270deg) translate(-44px, 0px);
}
.jiesuan .fenpei {
    margin: 10px auto 0px auto;
    height: 70px;
}
.jiesuan .fenpei .main {
    transform: translate(146px, 40px);
}
.jiesuan .fenpei .xiajia {
    transform: translate(292px, 20px);
}
.jiesuan .fenpei .duimian {
    transform: translate(146px, 0px);
}
.jiesuan .fenpei .shangjia {
    transform: translate(0px, 20px);
}

#game > .jiezhang {
    transform: translate(0px, 10px);
}
.jiezhang table {
    font-size: 14px;
}
.jiezhang table .point {
    font-size: 20px;
}

.controler {
    transform: translate(150px, 60px);
}

.menu {
    transform: translate(530px, 280px);
}

}