@charset "UTF-8";

@keyframes blink {
    100% { opacity: 0.7; }
}

#navi {
    text-align: right;
}
#navi a {
    color: white;
    text-decoration: none;
}

body {
    color: white;
    font-size: 12px;
    font-family: sans-serif;
    background: #036;
    margin-top: 0px;
}

@media print {
    body  { color: black;  }
    #navi { display: none; }
}

#loadimage {
    display: none;
}

.pai.blink {
    animation: blink 0.5s infinite;
}
.pai.selected {
	transform-origin: 0% 0%;
	transform: translate(0px, -10px);
}

.chang {
    font-family: "Georgia", serif;
}
.chang .title {
    font-size: 32px;
    font-family: "DFPLeiSho-SB", "HGP行書体", serif;
    vertical-align: top;
}
.chang .xiaoxi {
    width: 100px;
    padding: 4px;
    float: left;
}
.chang .choma {
    width: 60px;
    height: 8px;
    padding-left: 8px;
}
.chang .shan {
    width: 158px;
    padding: 6px;
    float: right;
    text-align: right;
}
.chang .pai {
    max-height: 44px;
}
.chang .defen .lunban {
    color: #0ff;
}

.shoupai {
    width: 640px;
    line-height: 0px;
}
.shoupai .bingpai {
    margin-top: 22px;
    float: left;
}
.shoupai .bingpai .pai {
    max-height: 58px;
}
.shoupai .bingpai .zimo {
    padding-left: 4px;
}
.shoupai .fulou {
    margin-top: 32px;
    float: right;
}
.shoupai .fulou .pai {
    max-height: 48px;
}
.shoupai .fulou .mianzi {
    white-space: nowrap;
    margin-left: 1px;
    float: right;
}
.shoupai .fulou .rotate {
    display: inline-block;
    width: 48px;
    white-space: nowrap;
    text-align: left;
    transform-origin: 0% 0%;
    transform: rotate(270deg) translate(-48px, 0px);
}
.shoupai:after { display: block; content: ''; clear: both; }


.he {
    line-height: 0px;
}
.he div.lizhi {
    height: 16px;
}
.he .lizhi .choma {
    display: none;
}
.he .pai {
    max-height: 48px;
}
.he span.lizhi {
    display: inline-block;
    width:  48px;
    text-align: center;
    transform-origin: 50% 50%;
    transform: rotate(90deg);
}
.he .damopai .pai {
    opacity: 0.8;
}
.he span.dapai .pai {
    animation: blink 0.5s infinite;
}
.he .break {
    display: block;
}

.jiesuan {
    white-space: nowrap;
    font-size: 24px;
    font-family: "DFPLeiSho-SB", "HGP行書体", serif;
}
.jiesuan .pingju {
    font-size: 48px;
}
.jiesuan .fenpei {
    font-size: 16px;
    font-family: "Georgia", serif;
}
.jiesuan .fenpei .name {
    display: inline-block;
    text-align: left;
    width: 24px;
}
.jiesuan .fenpei .defen {
    display: inline-block;
    text-align: right;
    width: 64px;
}
.jiesuan .fenpei .diff {
    display: inline-block;
    text-align: right;
    width: 64px;
}
.jiesuan .fenpei .plus {
    color: #0ff;
}
.jiesuan .fenpei .minus {
    color: red;
}
