@charset "UTF-8";

@media screen and (max-height: 700px) {

.game #navi { display: none; }
#title { margin-top: 160px; }
body   { margin: 0;         }
#game  {
    height: 600px;
    position: absolute;
    top: 0; bottom: 0; left: 0; right: 0;
    margin: auto;
}

#game > .kaiju {
    margin-top: 100px;
}

.chang {
    transform: translate(260px, 200px);
}

#game > .player.main {
    transform: translate(80px, 480px);
}
#game > .player.xiajia {
    transform: translate(710px, 500px) rotate(270deg);
}
#game > .player.duimian {
    transform: translate(660px, 90px) rotate(180deg);
}
#game > .player.shangjia {
    transform: translate(90px, 100px) rotate(90deg);
}

.shoupai.main {
    width: 720px;
    height: 88px;
    transform: translate(80px, 510px);
}
.shoupai.xiajia {
    width: 500px;
    height: 62px;
    transform: translate(738px, 500px) rotate(270deg);
}
.shoupai.duimian {
    width: 600px;
    height: 62px;
    transform: translate(600px, 64px) rotate(180deg);
}
.shoupai.shangjia {
    width: 500px;
    height: 62px;
    transform: translate(62px, 100px) rotate(90deg);
}
.shoupai.main .pai {
    max-height: 64px;
}
.shoupai.main .fulou {
    margin-top: 38px;
}
.shoupai.main .fulou .pai {
    max-height: 48px;
}
.shoupai.main .fulou .rotate {
    width: 48px;
    transform: rotate(270deg) translate(-48px, 0px);
}
.shoupai.xiajia .pai,
.shoupai.duimian .pai,
.shoupai.shangjia .pai,
.fulou .pai {
    max-height: 40px;
}
.shoupai.xiajia .fulou .rotate,
.shoupai.duimian .fulou .rotate,
.shoupai.shangjia .fulou .rotate {
    width: 40px;
    transform: rotate(270deg) translate(-40px, 0px);
}

.he {
    width: 300px;
    height: 136px;
}
.he.main {
    transform: translate(314px, 360px);
}
.he.xiajia {
    transform: translate(540px, 366px) rotate(270deg);
}
.he.duimian {
    transform: translate(486px, 200px) rotate(180deg);
}
.he.shangjia {
    transform: translate(260px, 194px) rotate(90deg);
}
.he .pai {
    max-height: 40px;
}
.he span.lizhi {
    width: 40px;
}
.he div.lizhi {
    width: 172px;
    height: 12px;
}
.he div.lizhi .choma {
    max-width: 120px;
}

.say.main {
    text-align: center;
    transform: translate(300px, 420px);
}
.say.xiajia {
    text-align: left;
    transform: translate(600px, 230px);
}
.say.duimian {
    text-align: center;
    transform: translate(300px, 50px);
}
.say.shangjia {
    text-align: right;
    transform: translate(0px, 230px);
}

.UI {
    transform: translate(62px, 500px);
}

#game > .jiesuan {
    transform: translate(0px, 50px);
}

#game > .jiezhang {
    transform: translate(0px, 50px);
}

.controler {
    transform: translate(120px, 120px);
}

.menu {
    transform: translate(560px, 400px);
}

}
