.analyzer
  table.shoupai
    tr.row
      td.xiangting
      td.eval
      td
        .shoupai
          .bingpai
          .fulou
      td.action
  table.dapai
    tr.row
      td.p
      td.xiangting
      td.eval
      td.tingpai
