#space
#board
  .board
    include score
    include button
    include player
    include dialog
    include summary
    include kaiju
  include analyzer
  include controller
  
  .download.hide
    a
      img(src="img/icon-download-alt.png")
      | 牌譜保存
