.player-button.hide
  span.button.cansel(aria-label="キャンセル") ×
  span.button.daopai ノー聴
  span.button.chi チー
  span.button.peng ポン
  span.button.gang カン
  span.button.lizhi リーチ
  span.button.rong  ロン
  span.button.zimo ツモ
  span.button.pingju 流局

.select-mianzi.hide
