.chang
  .xiaoxi
    .jushu
    .jicun
      img.choma(src="img/100.gif")
      |  : 
      span.changbang
      br
      img.choma(src="img/1000.gif")
      |  : 
      span.lizhibang
  .shan
    .baopai
    div
      | 牌数: 
      span.paishu
  .defen
    span.main
    span.xiajia
    span.duimian
    span.shangjia
