.controller
  img.exit(src="img/icon-exit.png" title="終了 [q]")
  img.summary(src="img/icon-list.png" title="集計表示 [?]")
  img.sound.on(src="img/icon-volume-up.png" title="音声OFF [a]")
  img.sound.off(src="img/icon-mutealt.png" title="音声ON [a]")
  img.analyzer(src="img/icon-lightbulb-idea.png" title="検討ON/OFF [i]")
  div
  img.first(src="img/icon-step-backward.png" title="配牌/前局 [←]")
  img.prev(src="img/icon-backward.png" title="戻る [↑]")
  img.play.on(src="img/icon-play.png" title="再開 [space]")
  img.play.off(src="img/icon-pause.png" title="停止 [space]")
  img.next(src="img/icon-forward.png" title="進む [↓]")
  img.last(src="img/icon-step-forward.png" title="結果/次局 [→]")

  .speed
    img.minus(src="img/icon-minus-sign.png" title="速度- [-]")
    span
    span
    span
    span
    span
    img.plus(src="img/icon-plus-sign.png" title="速度+ [+]")
