#file
  h1
    img(src="img/logo.png" alt="電脳麻将")
  .version
    
  .file

    if page == 'index'
      a.next 対局開始
      .button
        a.download
          img(src="img/icon-download-alt.png")
          | 牌譜保存

    .list
      .row
        .button
          a.replay
            img(src="img/icon-play.png")
            | 再生
          | 
          a.download
            img(src="img/icon-download-alt.png")
            | 保存
          | 
          a.delete
            img(src="img/icon-trash.png")
            | 削除
        .content
          .title
          .player
