#game
  include chang.pug
  include player.pug
  include ui.pug

  include kaiju.pug
  include huledialog.pug
  include controler.pug
  include summary.pug
  
  .download
    a.hide
      img(src="img/icon-download-alt.png")
      | 牌譜保存
