#loaddata.
  <img class="pai" data-pai="m1" src="img/m1.gif" alt="イーワン">
  <img class="pai" data-pai="m2" src="img/m2.gif" alt="リャンワン">
  <img class="pai" data-pai="m3" src="img/m3.gif" alt="サンワン">
  <img class="pai" data-pai="m4" src="img/m4.gif" alt="スーワン">
  <img class="pai" data-pai="m5" src="img/m5.gif" alt="ウーワン">
  <img class="pai" data-pai="m6" src="img/m6.gif" alt="ローワン">
  <img class="pai" data-pai="m7" src="img/m7.gif" alt="チーワン">
  <img class="pai" data-pai="m8" src="img/m8.gif" alt="パーワン">
  <img class="pai" data-pai="m9" src="img/m9.gif" alt="キューワン">
  <img class="pai" data-pai="m0" src="img/m0.gif" alt="赤ウーワン">
  <br>
  <img class="pai" data-pai="p1" src="img/p1.gif" alt="イーピン">
  <img class="pai" data-pai="p2" src="img/p2.gif" alt="リャンピン">
  <img class="pai" data-pai="p3" src="img/p3.gif" alt="サンピン">
  <img class="pai" data-pai="p4" src="img/p4.gif" alt="スーピン">
  <img class="pai" data-pai="p5" src="img/p5.gif" alt="ウーピン">
  <img class="pai" data-pai="p6" src="img/p6.gif" alt="ローピン">
  <img class="pai" data-pai="p7" src="img/p7.gif" alt="チーピン">
  <img class="pai" data-pai="p8" src="img/p8.gif" alt="パーピン">
  <img class="pai" data-pai="p9" src="img/p9.gif" alt="キューピン">
  <img class="pai" data-pai="p0" src="img/p0.gif" alt="赤ウーピン">
  <br>
  <img class="pai" data-pai="s1" src="img/s1.gif" alt="イーソー">
  <img class="pai" data-pai="s2" src="img/s2.gif" alt="リャンソー">
  <img class="pai" data-pai="s3" src="img/s3.gif" alt="サンソー">
  <img class="pai" data-pai="s4" src="img/s4.gif" alt="スーソー">
  <img class="pai" data-pai="s5" src="img/s5.gif" alt="ウーソー">
  <img class="pai" data-pai="s6" src="img/s6.gif" alt="ローソー">
  <img class="pai" data-pai="s7" src="img/s7.gif" alt="チーソー">
  <img class="pai" data-pai="s8" src="img/s8.gif" alt="パーソー">
  <img class="pai" data-pai="s9" src="img/s9.gif" alt="キューソー">
  <img class="pai" data-pai="s0" src="img/s0.gif" alt="赤ウーソー">
  <br>
  <img class="pai" data-pai="z1" src="img/z1.gif" alt="トン">
  <img class="pai" data-pai="z2" src="img/z2.gif" alt="ナン">
  <img class="pai" data-pai="z3" src="img/z3.gif" alt="シャー">
  <img class="pai" data-pai="z4" src="img/z4.gif" alt="ペー">
  <img class="pai" data-pai="z5" src="img/z5.gif" alt="ハク">
  <img class="pai" data-pai="z6" src="img/z6.gif" alt="ハツ">
  <img class="pai" data-pai="z7" src="img/z7.gif" alt="チュン">
  <img class="pai" data-pai="_" src="img/pai.gif" alt="">
  <br>
  <audio data-name="dapai" src="audio/dahai11.wav" volume="0.2" preload></audio>
  <audio data-name="chi" src="audio/chii.wav" volume="0.2" preload></audio>
  <audio data-name="peng" src="audio/pon.wav" volume="0.2" preload></audio>
  <audio data-name="gang" src="audio/kan.wav" volume="0.2" preload></audio>
  <audio data-name="rong" src="audio/ron.wav" volume="0.2" preload></audio>
  <audio data-name="zimo" src="audio/tsumo.wav" volume="0.2" preload></audio>
  <audio data-name="lizhi" src="audio/richi.wav" volume="0.2" preload></audio>
  <audio data-name="gong" src="audio/nc43994.wav" volume="1" preload></audio>
