ul#navi
  li #[a(href="../") Home]
  li #[a(href="index.html") 電脳麻将]
  li #[a(href="autoplay.html") 自動対戦]
  li #[a(href="rule.html") ルール]
  li #[a(href="paipu.html") 牌譜]
  li #[a(href="paili.html") 牌理]
  li #[a(href="hule.html") 点計算]
  li #[a(href="dapai.html") 何切る]
  li #[a(href="paiga.html") 牌画]
  li #[a(href="https://github.com/kobalab/Majiang" target="_blank") GitHub]
  li #[a(href="https://www.amazon.co.jp/dp/4798067881" target="_blank") 書籍]
