#noie(style="display: none")

style.
  #noie {
    background: #ddd;
    color: black;
    border: #666 solid 2px;
    border-radius: 8px;
    padding: 4px 1.5em;
    font-family: "Georgia", serif;
    font-size: 16px;
  }
script.
  window.onload = function(){
    if (typeof Majiang === 'undefined') {
      var text = document.createTextNode(
                      'プログラムのロードでエラーが発生しました。'
                    + 'お使いのブラウザでは実行できない可能性があります。'
                    + 'リロードして問題が解決しない場合は、'
                    + 'Google Chromeなど最新のブラウザでアクセスしてみてください。');
      var elem = document.getElementById('noie');
      elem.appendChild(text);
      elem.removeAttribute('style');
    }    
  }
