mixin player(lunban)
  .he(class=lunban role="region" aria-label="捨て牌")
    .lizhi
      img.choma(src="img/1000.gif")
    .dapai
  .shoupai(class=lunban role="region" aria-label="手牌")
    .bingpai
    .fulou
  if page != 'autoplay'
    .player(class=lunban)
  .say(class=lunban)

+player('xiajia')
+player('duimian')
+player('shangjia')
+player('main')
