mixin player(lunban)
  .player(class=lunban)
  .shoupai(class=lunban)
    .bingpai
    .fulou
  .he(class=lunban)
    .lizhi
      img.chouma.hide(src="img/1000.gif")
    .dapai
  .say(class=lunban)

+player('main')
+player('xiajia')
+player('duimian')
+player('shangjia')
