#stat
  h1
    img(src="img/logo.png" alt="電脳麻将")
    |  牌譜集計
  .version
    
  .error
    
  h2.title
  
  table
    thead
      tr
        th
        th 対戦数
        th ポイント
        th 平均順位
        th トップ率
        th 連対率
        th ラス率
        th 和了率
        th 放銃率
        th リーチ率
        th 副露率
        th 平均打点
    tbody
      tr
        td.name
        td.num
        td.num
        td.num
        td.num
        td.num
        td.num
        td.num
        td.num
        td.num
        td.num
        td.num
          
