include version
link(rel="icon" type="image/png" href="img/icon.png")
link(rel="apple-touch-icon" type="image/png" href="img/icon.png")
link(rel="stylesheet" type="text/css" href=`css/majiang-${version}.css`)
