.summary
  div
    div
      table
        thead
          tr.r_player
            td(colspan="3")
            th.player
            th.player
            th.player
            th.player            
        tbody.body
          tr.r_diff
            th.jushu
            th.changbang
            th.last
            td.back
              span.diff
              span.lizhi
            td.back
              span.diff
              span.lizhi
            td.back
              span.diff
              span.lizhi
            td.back
              span.diff
              span.lizhi
        tfoot
          tr.r_defen
            td(colspan="3")
            td.defen
            td.defen
            td.defen
            td.defen
          tr.r_point
            td(colspan="3")
            td.point
            td.point
            td.point
            td.point
