.UI
  span.chi(tabindex="0") チー
  |
  |
  span.peng(tabindex="0") ポン
  |
  |
  span.gang(tabindex="0") カン
  |
  |
  span.rong(tabindex="0") ロン
  |
  |
  span.lizhi(tabindex="0") リーチ
  |
  |
  span.zimo(tabindex="0") ツモ
  |
  |
  span.pingju(tabindex="0") 流局
