#navi
  a(href="../") Home
  |  |
  |
  a(href="index.html") 電脳麻将
  |  |
  |
  a(href="autoplay.html") 自動対戦
  |  |
  |
  a(href="paipu.html") 牌譜
  |  |
  |
  a(href="paili.html") 牌理
  |  |
  |
  a(href="hule.html") 点計算
  |  |
  |
  a(href="dapai.html") 何切る
  |  |
  |
  a(href="paiga.html") 牌画
  |  |
  |
  a(href="https://github.com/kobalab/Majiang" target="_blank") GitHub
