- var page = 'paipu'

doctype html
html(lang="ja")

  head
    include inc/meta.pug

    title 電脳麻将: 牌譜ビューア

    include inc/style.pug

    script(src="js/majiang.js" defer)
    script(src="js/paipu.js" defer)

  body.file
    include inc/navi.pug
    include inc/loaddata.pug
    
    include inc/file.pug
    include inc/game.pug
