@media screen and (min-width: 821px) and (min-height: 721px)

    body.analyzer
        width: 1400px
        margin: 0 auto
        #navi
        > .version
            width: 1400px
            clear: both
        #game
            float: left
        #analyzer
            display: block
            width: 590px
            height: 680px
            float: right

@media screen and (max-width: 820px) and (min-height: 721px)

    body.analyzer
        #analyzer
            display: block
            box-sizing: border-box
            margin-top: 5px
            width: 800px
            height: 360px

@media screen and (max-height: 720px)

    body.analyzer
        margin: 0 auto
        width: 800px
        position: relative
        #analyzer
            display: none
            &.active
                display: block
            position: absolute
            box-sizing: border-box
            background: rgba(0,0,0,0.4)
            width: 740px
            height: 360px
            top: 30px
            left: 10px
            .selected
                background: rgba(192,192,192,0.6)
            img
                opacity: 0.8

table.status
table.dapai
    td
        white-space: nowrap
    .xiangting
        padding: 0 1em
        text-align: center
    .eval
        text-align: right
        padding-right: 1em
        &.high
            color: red
        &.middle
            color: orange
        &.low
            color: yellow
    .action
        padding-left: 0.5em
    .p
    .tingpai
        img
            vertical-align: middle
        span
            padding-left: 0.5em

#analyzer
    display: none
    background: black
    border: solid 1px white
    border-radius: 6px
    pai-size: 35px
    font-family: menu-font
    font-size: 12px
    overflow: auto
    table
        margin: 4px
        &.status
            margin-top: 15px
        &.dapai
            margin-top: 10px
        border-collapse: collapse
        .shoupai
            shoupai-size: 380px 40px 35px 28px
    .selected
        background: #999
    .tingpai
        width: 100%
