@media screen and (min-width: 820px) and (min-height: 720px) {

    body.analyzer {
        width: 1400px;
        margin: 0 auto;
        #navi {
            width: 1400px;
        }
        #game {
            float: left;
        }
        #analyzer {
            display: block;
            width: 590px;
            height: 680px;
            float: right;
            border: solid 1px white;
            border-radius: 6px;
        }
    }
}

@media screen and (max-width: 820px) {
    #game {
        .controler {
            img.analyzer {
                display: none;
            }
        }
    }
}

table.dapai {
    margin: 4px;
    img {
        vertical-align: middle;
    }
    span {
        padding-left: 0.5em;
    }
    .xiangting {
        padding: 0 0.5em;
        text-align: center;
        white-space: nowrap;
    }
    .eval {
        text-align: right;
        padding-right: 0.5em;
        white-space: nowrap;
    }
    .tingpai {
        white-space: nowrap;
    }
}

#analyzer {
    display: none;
    pai-size: 35px;
    font-family: sans-serif;
    font-size: 12px;
    overflow: scroll;
}
