@media screen and (min-width: 820px) and (min-height: 720px) {

    body.analyzer {
        width: 1400px;
        margin: 0 auto;
        #navi {
            width: 1400px;
        }
        #game {
            float: left;
        }
        #analyzer {
            display: block;
            width: 590px;
            height: 680px;
            float: right;
            border: solid 1px white;
            border-radius: 6px;
        }
    }
}

@media screen and (max-width: 820px) {
    #game {
        .controler {
            img.analyzer {
                display: none;
            }
        }
    }
}

#analyzer {
    display: none;
}
