body.demo
    font-size: 12px
    font-family: menu-font
    color: white
    background: #036
    margin: 0 10px 20px
    > *
        overflow-x: auto

    #navi
        margin: 0 auto
    .version
        display: block
        font-size: 16px
        font-family: defen-font
        text-align: right

    form
        div
            margin: 2px 0
        span
            margin-right: 1em
        input[name="paistr"]
            width: 18em
        input[name="baopai"]
        input[name="fubaopai"]
            width: 2em
            text-align: center

    .shan
        pai-size: 42px
        .baopai
            float: left
        .fubaopai
            float: right
    .he
        margin-top: 10px
        he-size: auto 42px line
    .shoupai
        clear: both
        shoupai-size: auto 80px 56px 56px
    .status
        margin: 1em 0
    .paili
        pai-size: 35px
        white-space: pre
        img
            vertical-align: middle
    .hule-dialog
        transition: opacity 0.5s
        display: table
        font-size: 24px
        font-family: title-font
        line-height: 1
        .hupai
            margin-top: 10px
            min-width: 280px
            .fanshu
                text-align: right
        .defen
            text-align: right
            &.no_hule
                text-align: left
    .analyzer
        transition: opacity 0.5s
        margin: 20px 0
        pai-size: 35px
        img
            vertical-align: middle
        .row
            .p
                span
                    margin-left: 0.5em
            .xiangting
                padding: 0 1em
                text-align: center
            .eval
                padding-right: 1em
                text-align: right
                &.high
                    color: red
                &.middle
                    color: orange
                &.low
                    color: yellow
                &.none
                    color: gray
            .tingpai
                white-space: pre
                span
                    margin-left: 0.5em
    textarea
    .paiga div
        box-sizing: border-box
        width: 100%
    .paiga div
        color: black
        background: white
        p
            padding: 1em
