body.demo
    user-select: none
    color: white
    background: #036
    font-family: menu-font
    font-size: 12px
    > .version
        display: block
        float: right
    a
        color: white
    form
        margin-top: 1em
        div
            margin: 2px 0
        span
            margin-right: 1em
        input
            &[name="paistr"]
                width: 16em
            &[name="baopai"]
            &[name="fubaopai"]
                text-align: center
                width: 2em
    .shan
        pai-size: 42px
        font-size: 20px
        font-family: title-font
        img
            vertical-align: bottom
    .shoupai
        margin: 10px 0px
        shoupai-size: auto 70px 56px 56px
    .he
        margin: 10px 0px
        he-size: 680px 42px line
    .paili
        img
            vertical-align: middle
        pai-size: 35px
    .huledialog
        margin-top: 20px
        .hule
            .shan
                float: left
                margin-right: 40px
                font-size: 20px
                pai-size: 35px
            .shoupai
                clear: both
                shoupai-size: auto 70px 49px 49px
            .hupai
                font-size: 24px

#dapai
    transition: opacity 0.2s ease-out
    table.dapai
        margin: 0
        margin-top: 20px
        pai-size: 35px
        font-family: menu-font
        .xiangting
            padding: 0 1em
        .eval
            padding-right: 1em

#paiga div
    width: 780px
    color: black
    background: white
    p
        margin: 1em

textarea.paiga
    box-sizing: border-box
    width: 780px
