body.file
    color: black
    background: white
    margin: 0 10px 15px
    #navi
        margin: 0
    #file
        display: block
    > .version
        display: none

#file
    display: none
    font-size: 14px
    font-family: menu-font
    h1
        font-size: 24px
        margin-top: 0
        border-bottom: solid 2px black
        img
            height: 36px
            vertical-align: bottom
    > .version
        margin-top: -2.4em
        font-size: 16px
        font-family: defen-font
        text-align: right
    .file
        margin: 10px 0
        .row
            transition: opacity 0.4s ease-out
            border: solid 1px #ccc
            margin: 2px 0px
            border-radius: 4px
            padding: 8px
            display: flex
            flex-direction: row-reverse
            .content
                flex-grow: 1
                margin-right: 10px
                .title
                    font-family: menu-font
                    font-size: 114%
                .player
                    font-family: text-font
                    font-size: 107%
            .button
                display: inline-flex
                align-items: flex-start
                a, span
                    margin: 2px
        a
        label.upload
            display: inline-block
            padding: 6px 10px
            background: #999
            border-radius: 5px
            white-space: nowrap
            cursor: pointer
            color: white
            line-height: 1em
            text-decoration: none
            img
                height: 1em
                margin-right: 4px
                vertical-align: bottom
            input
                display: none
            &.start
                background: blue
            &:hover
                background: #ccc
            &.delete:hover
                background: red
        .move
            display: inline-block
            padding: 3px 0
            cursor: move
            img
                height: 1em
                vertical-align: bottom
        > .button
            float: right
        form
            float: right
            input[name="url"]
                width: 270px
        .error
            transition: opacity 0.5s
            margin: 2px 0px
            border-radius: 5px
            border: solid 1px #f99
            color: red
            background: #fdd
            padding: 4px 1em
            font-family: menu-font
