body.file
    color:      black
    a
        color:  black
    background: white
    #file
        display: block

#file
    display: none
    font-family: menu-font
    font-size: 14px
    h1
        margin-top: 0
        border-bottom: solid 2px black
        font-family: menu-font
        font-size: 24px
        img
            height: 36px
            vertical-align: bottom
    .version
        margin-top: -3em
        font-size: 12px
        font-family: text-font
        text-align: right
    .file
        margin: 15px 0px
        .row
            transition: opacity 0.5s ease-out
            border: solid 1px #ccc
            margin: 2px 0px
            border-radius: 4px
            padding: 8px
            display: flex
            flex-direction: row-reverse
            .content
                flex-grow: 1
                margin-right: 10px
                .title
                    font-family: menu-font
                    font-size: 16px
                .player
                    font-family: text-font
                    font-size: 15px
            .button
                display: inline-flex
                align-items: flex-start
                a, span
                    margin: 2px
        a
        label
            display: inline-block
            font-size: 14px
            padding: 6px 10px
            background: #999
            border-radius: 5px
            white-space: nowrap
            cursor: pointer
            color: white
            line-height: 1em
            text-decoration: none
            img
                width: 14px
                height: 14px
                margin-right: 4px
                vertical-align: bottom
            input
                display: none
            &.next
                background: blue
            &:hover
                background: #ccc
            &.delete:hover
                background: red
        .move
            display: inline-block
            cursor: move
            img
                width: 14px
                height: 14px
        > .button
            float: right
            text-align: right
        .error
            transition: opacity 0.5s
            margin: 2px 0px
            border-radius: 5px
            border: solid 1px #f99
            color: red
            background: #fdd
            padding: 4px 1em
            font-size: 12px
            font-family: menu-font
