body.game
body.analyzer
    color:      white
    a
        color:  white
    background: black
    #navi
    > .version
        display: block
        margin: 0 auto
    #game
        display: block

#game
    display: none
    background: #036
    margin: 0 auto
    overflow: hidden
    user-select: none
    -webkit-user-select: none
    cursor: default
    > *
        position: absolute
        transform-origin: 0% 0%
    .chang
        background: #111
        font-family: defen-font
        border-radius: 4px
        .xiaoxi
            float: left
            .jushu
                font-family: title-font
        .shan
            float: right
            text-align: right
        .defen
            clear: both
            span
                display: block
                position: absolute
                &.lunban
                    color: #0ff
                &.main
                    text-align: center
                &.xiajia
                    text-align: right
                &.duimian
                    text-align: center
                &.shangjia
                    text-align: left
    > .player
        font-family: text-font
        white-space:   nowrap
        overflow:      hidden
        text-overflow: ellipsis
        background: #111
        &:hover
            background: #999
            cursor: pointer
    .say
        font-family: text-font
        color: white
        text-shadow: 3px  3px 6px #333,
                    -3px  3px 6px #333,
                    -3px -3px 6px #333,
                     3px -3px 6px #333
        transition: opacity 0.4s ease-out
        &.main
            text-align: center
        &.xiajia
            text-align: left
        &.duimian
            text-align: center
        &.shangjia
            text-align: right
    .UI
        font-family: menu-font
        text-align: right
        white-space: nowrap
        span
            display: inline-block
            background: black
            cursor: pointer
    .controler
        img
            opacity: 0.2
        .speed
            span
                display: inline-block
                border-radius: 4px
                background: white
                opacity: 0.1
    .download
        a
            opacity: 0.5
            display: inline-block
            font-family: menu-font
            font-size: 18px
            padding: 6px 10px
            border-radius: 6px
            background: #000
            cursor: pointer
            color: white
            text-decoration: none
            margin: 10px
            img
                width:  24px
                height: 24px
                margin-right: 8px
                vertical-align: middle
            &:hover
                opacity: 1
