@charset "UTF-8"
@import "font"
@import "base"
@import "pai"
@import "shoupai"
@import "he"
@import "navi"
@import "title"
@import "board"
@import "desktop"
@media screen and (max-height: 450px)
    @import "tablet"
@import "file"
@import "stat"
@import "analyzer"
@import "rule"
@import "demo"
