#navi
    font-size: 12px
    font-family: menu-font
    padding: 0
    text-align: right
    li + li:before
        content: ' | '
    li
        display: inline-block
        a
            color: inherit
            text-decoration: none
