@media print

    body
        margin-top: 15px;

    body.game
    body.analyzer
        color:      black
        background: white
        a
            color:  black

    #stat
        .button
            display: none

    #analyzer
        background: inherit
        border: none
        overflow: visible
        margin-top: 20px
        height: auto

    #navi
        display: none !important

    #game
        background: white
        > .player
            border: solid 1px #ccc
            background: white
        .chang
            background: white
            border: solid 1px #666
            .defen span.lunban
                color: blue
                text-decoration: underline
        .he
            div.lizhi .choma
                margin-top: 1px
            div.dapai .pai.mopai
                opacity: 1
                border-top: solid 2px blue
        .say
            color: #666
            text-shadow: none
        .controler
            display: none

        .kaiju
            border: solid 1px #666
            background: white
            .player > div
                border: solid 1px #666
                background: white

        .huledialog > div > div
            border: solid 1px #666
            border-radius: 4px
            background: white
            .fenpei
                .plus
                    color: blue

        > .summary > div > div
            border: solid 1px #666
            background: white
            table
                border-color: #666
                .zhuangjia
                    background: #eee
                .hule
                .guanjun
                .plus
                    color: blue
