body.stat
    color:      black
    a
        color:  black
    background: white

#stat
    h1
        margin-top: 0
        border-bottom: solid 2px black
        font-family: menu-font
        font-size: 24px
        img
            height: 36px
            vertical-align: bottom
    .version
        margin-top: -3em
        font-size: 12px
        font-family: text-font
        text-align: right

    h2
        display: none
        font-size: 18pt
        font-family: title-font
    table
        display: none
        border-collapse: collapse
        font-size: 16px
        thead
        tbody
            border-bottom: solid 2px black
            tr
                border-bottom: solid 1px #ccc
        th
            padding: 2px 0.5em
            font-family: menu-font
        td
            padding: 2px 1em
            font-family: text-font
            &.num
                text-align: right
    .error
        display: none
        margin: 10px 0px
        border-radius: 5px
        border: solid 1px #f99
        color: red
        background: #fdd
        padding: 4px 1em
        font-size: 12px
        font-family: menu-font
