body.title
    color:      white
    a
        color:  white
    background: black
    #navi
        width: 800px
        margin: 0 auto
    #title
        display: block

#title
    display: none
    margin: auto
    width: 620px
    color: black
    background: white
    padding: 10px
    text-align: center
    font-family: defen-font
    h1
        margin: 0px
        height: 150px
        text-align: center
        img
            width: 600px
    .version
        font-size: 24px
    .loading
        margin-top: 10px
        padding: 4px
        color: #666
        font-family: menu-font
        animation: blink-text 2s infinite
    .start
        margin: 0px auto
        margin-top: 10px
        padding: 4px
        width: 120px
        background: #999
        color: white
        border-radius: 4px
        font-family: text-font
        cursor: pointer
        &:hover
            background: #ccc
