body.title
    color:      white
    background: black
    margin: 0
    #title
        display: block
    #navi
        width: 800px
        margin: 0 auto
    > .version
        display: none

#title
    display: none
    margin: 40px auto
    width: 640px
    padding: 4px
    border-radius: 5px
    background: white
    color:      black
    text-align: center
    h1
        margin: 0px
        height: 150px
        img
            width: 600px
    .version
        font-family: defen-font
        font-size: 24px
    .loading
        margin: 8px auto
        color: #666
        font-family: menu-font
        font-size: 16px
        animation: blink-text 2s infinite
    .start
        margin: 8px auto
        font-family: text-font
        width: 120px
        padding: 4px
        border-radius: 4px
        font-size: 16px
        color: white
        background: blue
        cursor: pointer
        &:hover
        &:focus
            background: #ccc
            outline: none
