include ../version.pug
- var page = 'dapai'

doctype html
html(lang="ja")

  head
    include ../inc/meta.pug

    title 電脳麻将: 何切る解答機

    include ../inc/style.pug
    include ../inc/script.pug

  body.demo
    include ../inc/loaderr.pug
    include ../inc/navi.pug
    include ../inc/loaddata.pug
    .version

    form
      div 牌姿: 
        input(name="paistr" type="text")
        input(type="submit" value="決定")
        input(type="reset" value="クリア")
      div
        span
          |  場風: 
          select(name="zhuangfeng")
            option(value="0") 東
            option(value="1") 南
            option(value="2") 西
            option(value="3") 北
          |  自風: 
          select(name="menfeng")
            option(value="0") 東
            option(value="1") 南
            option(value="2") 西
            option(value="3") 北
        span.
          ドラ表示牌:
          <input name="baopai" type="text"><input name="baopai" type="text"><input name="baopai" type="text"><input name="baopai" type="text"><input name="baopai" type="text">
        span
          input(name="hongpai" type="checkbox" checked)
          |  赤牌あり
    hr

    #dapai.hide
      .shan.baopai ドラ
        span.baopai
      .shoupai
        .bingpai
        .fulou
      table.dapai
        tr.row
          td.p
          td.xiangting
          td.eval
          td.tingpai
