- var page = 'hule'
doctype html
html(lang="ja")
  
  head
    include ../inc/meta

    title 電脳麻将: 和了点計算
    meta(name="description" content="Javascriptで和了点を計算")

    include ../inc/style
    include ../inc/script

  body.demo
    include ../inc/loaderr
    include ../inc/navi
    include ../inc/loaddata
    .version ver. #{version}
    
    form
      div 牌姿:
        input(name="paistr" type="text")
        input(type="submit" value="決定")
        input(type="reset" value="クリア")
      div
        span.
          ドラ表示牌:
          <input name="baopai" type="text"><input name="baopai" type="text"><input name="baopai" type="text"><input name="baopai" type="text"><input name="baopai" type="text">
        span.hide.
          裏ドラ表示牌:
          <input name="fubaopai" type="text"><input name="fubaopai" type="text"><input name="fubaopai" type="text"><input name="fubaopai" type="text"><input name="fubaopai" type="text">
      div
        span
          label
            input(name="zimo" type="radio" value="1")
            | ツモ
          label
            input(name="zimo" type="radio" value="0" checked)
            | ロン
        span
          |  場風: 
          select(name="zhuangfeng")
            option(value="0" selected) 東
            option(value="1") 南
            option(value="2") 西
            option(value="3") 北
          |  自風: 
          select(name="menfeng")
            option(value="0") 東
            option(value="1" selected) 南
            option(value="2") 西
            option(value="3") 北
      div
        span
          label
            input(name="lizhi" type="checkbox" value="1")
            | 立直
          label
            input(name="lizhi" type="checkbox" value="2")
            | ダブル立直
        span
          label
            input(name="yifa" type="checkbox" value="1" disabled)
            | 一発
        span
          label
            input(name="haidi" type="checkbox" value="1")
            | 海底
          label
            input(name="lingshang" type="checkbox" value="1")
            | 嶺上
          label
            input(name="qianggang" type="checkbox" value="1")
            | 槍槓
        span
          label
            input(name="tianhu" type="checkbox" value="2")
            span 地和
      div ルール:
        select(name="rule")
          option(value="") 電脳麻将ルール
    hr
    
    .hule-dialog
      .hule
        .shan.baopai
          span.baopai
        .shan.fubaopai
          span.fubaopai
        
        .shoupai
          .bingpai
          .fulou
        
        table.hupai
          tr.r_hupai
            td.name
            td.fanshu
          tr.r_defen
            td.defen(colspan="2")
        
