include ../version.pug
- var page = 'hule'

doctype html
html(lang="ja")

  head
    include ../inc/meta.pug

    title 電脳麻将: 和了点計算
    meta(name="description" content="Javascriptで和了点を計算")

    include ../inc/style.pug
    include ../inc/script.pug

  body.demo
    include ../inc/loaderr.pug
    include ../inc/navi.pug
    include ../inc/loaddata.pug
    .version

    form
      div 牌姿: 
        input(name="paistr" type="text")
        input(type="submit" value="決定")
        input(type="reset" value="クリア")
      div
        span.
          ドラ表示牌:
          <input name="baopai" type="text"><input name="baopai" type="text"><input name="baopai" type="text"><input name="baopai" type="text"><input name="baopai" type="text">
        span.hide.
          裏ドラ表示牌:
          <input name="fubaopai" type="text"><input name="fubaopai" type="text"><input name="fubaopai" type="text"><input name="fubaopai" type="text"><input name="fubaopai" type="text">
      div
        span
          input(name="zimo" type="radio" value="1")
          | ツモ
          input(name="zimo" type="radio" value="0" checked)
          | ロン
        span
          |  場風: 
          select(name="zhuangfeng")
            option(value="0" selected) 東
            option(value="1") 南
            option(value="2") 西
            option(value="3") 北
          |  自風: 
          select(name="menfeng")
            option(value="0") 東
            option(value="1" selected) 南
            option(value="2") 西
            option(value="3") 北
      div
        span
          input(name="lizhi" type="checkbox" value="1")
          | 立直 
          input(name="lizhi" type="checkbox" value="2")
          | ダブル立直 
        span
          input(name="yifa" type="checkbox" value="1" disabled)
          | 一発 
        span
          input(name="haidi" type="checkbox" value="1")
          | 海底 
          input(name="lingshang" type="checkbox" value="1")
          | 嶺上 
          input(name="qianggang" type="checkbox" value="1")
          | 槍槓 
        span
          input(name="tianhu" type="checkbox" value="2")
          span 地和
    hr
    
    .huledialog.hide
      .hule
        .shan.baopai ドラ
          span.baopai
        .shan.fubaopai 裏ドラ
          span.fubaopai

        .shoupai
          .bingpai
          .fulou

        table.hupai
          tr.r_hupai
            td.name
            td.fanshu
          tr.r_defen
            td.defen(colspan="2")
