include ../version.pug
- var page = 'index'

doctype html
html(lang="ja")

  head
    include ../inc/meta.pug

    title 電脳麻将
    meta(name="description" content="HTML5 + Javascriptで動作する麻雀アプリ")

    meta(property="og:title" content="電脳麻将")
    meta(property="og:description" content="HTML5 + JavaScript で動作する麻雀アプリ")
    meta(property="og:image" content="http://kobalab.net/majiang/img/game.png")

    include ../inc/style.pug
    include ../inc/script.pug

  body.title
    include ../inc/loaderr.pug
    include ../inc/navi.pug
    include ../inc/title.pug
    include ../inc/loaddata.pug
    
    include ../inc/file.pug
    include ../inc/stat.pug
    include ../inc/game.pug
    include ../inc/analyzer.pug

    .version
