- var page = 'netplay'

doctype html
html(lang="ja")
  
  head
    include ../inc/meta

    include ../inc/ogp
    +ogp('電脳麻将: ネット対戦', 'WebSocketで動作する麻雀サーバー', 
          'https://kobalab.net/majiang/img/netplay.png')

    include ../inc/style
    script(src="server/socket.io/socket.io.js" defer)
    include ../inc/script
  
  body.title
    include ../inc/loaderr
    include ../inc/navi
    include ../inc/title
    include ../inc/loaddata

    include ../inc/file
    include ../inc/stat
    include ../inc/room
    include ../inc/board
    .version ver. #{version}
