include ../version.pug
- var page = 'paipu'

doctype html
html(lang="ja")

  head
    include ../inc/meta.pug

    title 電脳麻将: 牌譜ビューア

    include ../inc/style.pug
    include ../inc/script.pug

  body.file
    include ../inc/loaderr.pug
    include ../inc/navi.pug
    include ../inc/loaddata.pug
    
    include ../inc/file.pug
    include ../inc/stat.pug
    include ../inc/game.pug
    include ../inc/analyzer.pug

    .version
